<section>
   <form action="/productos" method="post">
        <input type="text" name="name" id="name" placeholder="name">
        <input type="number" name="price" id="price" placeholder="price">
        <input type="submit" value="Enviar">
    </form>
</section>