<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>

<body>
    <h1>Vista de Productos</h1>
    <% if(products.length> 0){ %>
        <ul>
            <% products.forEach(function(product) { %>
                <li>
                    <strong>
                        <%= product.name %>
                    </strong>
                    $<%= product.price %>
                </li>
                <% }); %>
        </ul>
        <% } else{ %>
            <p>No hay productos</p>
        <% } %>

        <a href="/">Cargar producto</a>
</body>

</html>